vim/bundle/
vim/plugged/
vim/spell/
vim/vim
vim/.netrwhist
vim/autoload/plug.vim.old

nvim/share/plugged
nvim/share/shada
nvim/config/.netrwhist
nvim/share/lazy
nvim/share/site/pack
nvim/share/neo-tree.nvim.log
nvim/share/telescope_history
nvim/share/tree-sitter*

nvim/config/lazy-lock.json
nvim/share/.netrwhist
nvim/share/mason
nvim/share/*.log
zsh-lib/duetto-*
