[submodule "ctrlp.vim/vim/bundle"]
	path = ctrlp.vim/vim/bundle
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/gundo.vim"]
	path = vim/vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/vim/bundle/nerdtree.git"]
	path = vim/vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/python-mode.git"]
	path = vim/vim/bundle/python-mode.git
	url = https://github.com/klen/python-mode.git
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/vim-powerline"]
	path = vim/vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/vim/bundle/badwolf"]
	path = vim/vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
